{% extends 'base.html' %}

{% block title%}{{ blog.title }}{% endblock %}

{% block content %}
<h1>{{ blog.title }}</h1>
<p><a href="{{ blog.url }}" target="_blank">{{ blog.url }}</a></p>

<form class="form-horizontal" action="{% url "blogs:update" blog.pk %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_feed_url">Feed URL</label>
        <input class="form-control" type="url" name="feed_url" id="id_feed_url" value="{% if blog.feed_url %}{{ blog.feed_url }}{% endif %}">
        {% for error in form.feed_url.errors %}
            <p class="text-danger">{{ error }}</p>
        {% endfor %}
    </div>
    <div class="controls">
        <button class="btn btn-default" type="submit">Gravar</button>
    </div>
</form>
{% endblock %}
