{% extends 'base.html' %}

{% block title %}Blogs{% endblock %}

{% block content %}
<h1>Blogs</h1>

<div class="list-group">
    {% for blog in blog_list %}
        <a href="{% url "blogs:update" blog.pk %}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ blog.title }}</h4>
            <p class="list-group-item-text">URL: {{ blog.url }}</p>
            <p class="list-group-item-text">
                FEED: {% if blog.feed_url %}{{ blog.feed_url }}{% else %}<em>Não identificado</em>{% endif %}
            </p>
            {% if not blog.working %}
                <strong><p class="text-danger">COM FALHAS</p></strong>
            {% endif %}
        </a>
    {% endfor %}
</div>
{% endblock %}
