{% extends 'base.html' %}

{% block title %}Blogs{% endblock %}

{% block content %}
<h1>Blogs</h1>

<form action="{% url "blogs:list" %}" method="GET">
    <div class="input-group">
        <input name="q" type="text" class="form-control" placeholder="Título do blog">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Buscar</button>
        </span>
    </div>
</form>

<div class="list-group">
    {% for blog in blog_list %}
        <a href="{% url "blogs:update" blog.slug %}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ blog.title }}</h4>
            <p class="list-group-item-text">URL: {{ blog.url }}</p>
            <p class="list-group-item-text">
                FEED: {% if blog.feed_url %}{{ blog.feed_url }}{% else %}<em>Não identificado</em>{% endif %}
            </p>
            {% if not blog.working %}
                <strong><p class="text-danger">COM FALHAS</p></strong>
            {% endif %}
        </a>
    {% endfor %}
</div>
{% endblock %}
